ul {
    list-style-type: none;
	margin: center;
	padding: center;
	overflow: hiden
}
li {
    float: left;
}
li a{
    display: block;
	color: white;
	text-align: center;
	padding: 25px;
}
li a:hover {}
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#headline {
	text-align:center;
	color:white;
}